<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009931772164-bmaae5eaqe7o8tjfrh9kik2m48allu5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009931772164-bmaae5eaqe7o8tjfrh9kik2m48allu5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQ-2esvwKZDXmZDXHnOEt1FJEvA9gG9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1009931772164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Metelsky.ToDo-TT</string>
	<key>PROJECT_ID</key>
	<string>todo-tt</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-tt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009931772164:ios:418b3a6c543efdb439b051</string>
</dict>
</plist>